# Cleaning and analysis of the attendance dataset

This notebook is more about illustrating the process of thinking, rather than doing the analysis the correct way or presenting some results.

In [2]:
import duckdb

# Week 1 - Data Cleaning with SQL and duckdb

Let's first extract a clean dataset that we can use in further analysis confidently.

The first step when facing some new data is to look at it. This is something that applies always, regardless of what problem you're facing - look at your data. Let's look at each table in turn.

Here are some best practices:
- It's always a good idea to look at a random sample of the data, rather than the first/last N rows.
- Begin with small tables first (in our case, `school` and `subject`) - tables that are about a single thing - rather than bigger tables that are a combination of multiple things.

## school

In [3]:
duckdb.sql(
    "SELECT * FROM 'attendance/school.parquet' ORDER BY random() LIMIT 10"
).show()

┌─────────────────┬─────────────┬───────────────┬─────────────────────────────────────────────────────────────────────┬───────────────┬───────────────────┬───────────────────┐
│    unique_id    │ school_code │ division_code │                             school_name                             │ division_name │ municipality_code │ municipality_name │
│     varchar     │    int64    │    varchar    │                               varchar                               │    varchar    │       int64       │      varchar      │
├─────────────────┼─────────────┼───────────────┼─────────────────────────────────────────────────────────────────────┼───────────────┼───────────────────┼───────────────────┤
│ c89c0f68d1153d7 │   190565420 │ NULL          │ Joniškio r. Kriukų pagrindinė mokykla                               │ NULL          │                47 │ Joniškio r. sav.  │
│ ac7f313918e5d7c │   191315590 │ NULL          │ Vilniaus r. Maišiagalos kun. Juzefo Obrembskio gimnazija            │ NULL          │                41 │ Vilniaus r. sav.  │
│ 075a2f2cb419a41 │   190013393 │ NULL          │ Vilniaus darželis - mokykla „Vaivorykštė“                           │ NULL          │                13 │ Vilniaus m. sav.  │
│ fc6c20cfa9cfe86 │   191817949 │ NULL          │ Trakų r. Senųjų Trakų Kęstučio progimnazija                         │ NULL          │                79 │ Trakų r. sav.     │
│ bc80adba45cb933 │   190918849 │ NULL          │ Jurbarko r. Seredžiaus Stasio Šimkaus mokykla-daugiafunkcis centras │ NULL          │                94 │ Jurbarko r. sav.  │
│ 1aaba07b0802e46 │   190379992 │ NULL          │ Kalvarijos gimnazija                                                │ NULL          │                48 │ Kalvarijos sav.   │
│ af77142ba2c42d1 │   190238867 │ NULL          │ Alytaus r. Makniūnų mokykla-daugiafunkcis centras                   │ NULL          │                33 │ Alytaus r. sav.   │
│ a59320ec3992762 │   290615290 │ NULL          │ Pasvalio Lėvens pagrindinė mokykla                                  │ NULL          │                67 │ Pasvalio r. sav.  │
│ b23c3b0d02bc28e │   190428311 │ NULL          │ Klaipėdos „Varpelio“ mokykla-darželis                               │ NULL          │                21 │ Klaipėdos m. sav. │
│ d50df30396e80df │   190108756 │ NULL          │ Varėnos „Ąžuolo“ gimnazija                                          │ NULL          │                38 │ Varėnos r. sav.   │
├─────────────────┴─────────────┴───────────────┴─────────────────────────────────────────────────────────────────────┴───────────────┴───────────────────┴───────────────────┤
│ 10 rows                                                                                                                                                           7 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

`school_code` should be the primary key in this table. Primary key is a column (or several columns) by which a unique row in the table is identified. By stating that `school_code` is a primary key, I explicitly expect two things from the column:
- This column has no duplicate values.
- This column has no null values.

Let's verify these assumptions.

In [ ]:
duckdb.sql(
    """
    SELECT 
        school_code,
        COUNT(*)
    FROM 'attendance/school.parquet' 
    GROUP BY school_code
    HAVING COUNT(*) > 1
"""
).show()

┌─────────────┬──────────────┐
│ school_code │ count_star() │
│    int64    │    int64     │
├─────────────┼──────────────┤
│   190066944 │            2 │
│   190986889 │            2 │
│   191130983 │            2 │
│   190341810 │            2 │
│   195170434 │            2 │
│   295093070 │            2 │
│   191791956 │            2 │
│   190341625 │            2 │
│   190697735 │            2 │
│   190892856 │            2 │
│   190189861 │            2 │
│   191090275 │            2 │
│   190545880 │            3 │
│   290893610 │            2 │
│   190696786 │            2 │
│   191130079 │            2 │
│   302843970 │            2 │
├─────────────┴──────────────┤
│ 17 rows          2 columns │
└────────────────────────────┘

We have duplicates :/ Let's look at a couple of them.

In [ ]:
duckdb.sql(
    """
    SELECT *
    FROM 'attendance/school.parquet'
    WHERE school_code IN (190341810, 191130983, 191130079)
"""
).show()

┌─────────────────┬─────────────┬───────────────┬─────────────────────────────────────────────┬─────────────────────────────────────────────────────────────────────┬───────────────────┬───────────────────┐
│    unique_id    │ school_code │ division_code │                 school_name                 │                            division_name                            │ municipality_code │ municipality_name │
│     varchar     │    int64    │    varchar    │                   varchar                   │                               varchar                               │       int64       │      varchar      │
├─────────────────┼─────────────┼───────────────┼─────────────────────────────────────────────┼─────────────────────────────────────────────────────────────────────┼───────────────────┼───────────────────┤
│ 33ba4eb90b8b20a │   190341810 │ 1446          │ Ukmergės Senamiesčio progimnazija           │ Ukmergės Senamiesčio progimnazijos Laičių pradinio ugdymo skyrius   │                81 │ Ukmergės r. sav.  │
│ ac5f5659750060c │   190341810 │ NULL          │ Ukmergės Senamiesčio progimnazija           │ NULL                                                                │                81 │ Ukmergės r. sav.  │
│ 171ce47c9346344 │   191130983 │ 7403          │ Plungės r. Žemaitijos kadetų gimnazija      │ Plungės r. Žemaitijos kadetų Kulių gimnazijos skyrius               │                68 │ Plungės r. sav.   │
│ b67dc0bfce0e99d │   191130983 │ 7402          │ Plungės r. Žemaitijos kadetų gimnazija      │ Plungės r. Žemaitijos kadetų Žemaičių Kalvarijos gimnazijos skyrius │                68 │ Plungės r. sav.   │
│ 401b2cf985dc009 │   191130079 │ NULL          │ Plungės akademiko Adolfo Jucio progimnazija │ NULL                                                                │                68 │ Plungės r. sav.   │
│ 524de801ad851e4 │   191130079 │ 7217          │ Plungės akademiko Adolfo Jucio progimnazija │ Plungės akademiko Adolfo Jucio progimnazijos „Saulės“ skyrius       │                68 │ Plungės r. sav.   │
└─────────────────┴─────────────┴───────────────┴─────────────────────────────────────────────┴─────────────────────────────────────────────────────────────────────┴───────────────────┴───────────────────┘

Looks like the school table is actually unique by school_code and division_code, but let's verify again

In [ ]:
duckdb.sql(
    """
    SELECT 
        school_code,
        division_code,
        COUNT(*)
    FROM 'attendance/school.parquet' 
    GROUP BY school_code, division_code
    HAVING COUNT(*) > 1
"""
).show()

┌─────────────┬───────────────┬──────────────┐
│ school_code │ division_code │ count_star() │
│    int64    │    varchar    │    int64     │
├─────────────┴───────────────┴──────────────┤
│                   0 rows                   │
└────────────────────────────────────────────┘

This is a data quality issue - it's unclear what division code NULL means, and the table documentation makes it seems that this is data on schools and not school divisions.

I'll deal with it in a somewhat silly way - I'll remove cases where `division_code` is not null. This is essentially saying - I won't look at schools that have divisions. Ideally we wouldn't do this, but out of concern for time, let's make this simplification. Also only 17 `school_codes` have the duplicate issue.

Simplifying in the beginning of an analysis is a good approach to manage complexity. We still don't know the dataset very well, so let's simplify. Once we are more familiar with the data, we can increase complexity and make our analysis more "correct".

Let's check if there are no null `school_codes`.

In [ ]:
duckdb.sql(
    """
    SELECT 
        count(distinct school_code),
        count(*)
    FROM 'attendance/school.parquet' 
    WHERE division_code IS NULL
"""
)

┌─────────────────────────────┬──────────────┐
│ count(DISTINCT school_code) │ count_star() │
│            int64            │    int64     │
├─────────────────────────────┼──────────────┤
│                         983 │          983 │
└─────────────────────────────┴──────────────┘

In [ ]:
# Final query for the school table
school = """
    SELECT 
        school_code, 
        school_name, 
        municipality_name
    FROM 'attendance/school.parquet' 
    WHERE division_code IS NULL
"""
duckdb.sql(school + " LIMIT 10").show()

┌─────────────┬─────────────────────────────────────────────────┬─────────────────────┐
│ school_code │                   school_name                   │  municipality_name  │
│    int64    │                     varchar                     │       varchar       │
├─────────────┼─────────────────────────────────────────────────┼─────────────────────┤
│   190545880 │ Biržų „Aušros“ pagrindinė mokykla               │ Biržų r. sav.       │
│   191130264 │ Plungės „Saulės“ gimnazija                      │ Plungės r. sav.     │
│   191814839 │ Mažeikių „Žiburėlio“ pradinė mokykla            │ Mažeikių r. sav.    │
│   190507118 │ Švenčionių r. Adutiškio pagrindinė mokykla      │ Švenčionių r. sav.  │
│   191317260 │ Vilniaus Trakų Vokės gimnazija                  │ Vilniaus m. sav.    │
│   191709681 │ Vilniaus Jono Ivaškevičiaus jaunimo mokykla     │ Vilniaus m. sav.    │
│   290486810 │ Vilkaviškio rajono Pajevonio pagrindinė mokykla │ Vilkaviškio r. sav. │
│   303283300 │ Panevėžio Raimundo Sargūno sporto gimnazija     │ Panevėžio m. sav.   │
│   190486624 │ Vilkaviškio r. Gražiškių gimnazija              │ Vilkaviškio r. sav. │
│   191866526 │ Varėnos „Šaltinėlio“ pradinė mokykla            │ Varėnos r. sav.     │
├─────────────┴─────────────────────────────────────────────────┴─────────────────────┤
│ 10 rows                                                                   3 columns │
└─────────────────────────────────────────────────────────────────────────────────────┘

## subject

In [ ]:
duckdb.sql(
    "SELECT * FROM 'attendance/subject.parquet' ORDER BY random() LIMIT 10"
).show()

┌─────────────────┬──────────────────┬──────────────┬───────────────────────────────────┬───────────────────────────────────────┐
│    unique_id    │ electronic_diary │ subject_code │           subject_name            │            subject_name_en            │
│     varchar     │     varchar      │    int64     │              varchar              │                varchar                │
├─────────────────┼──────────────────┼──────────────┼───────────────────────────────────┼───────────────────────────────────────┤
│ 3426c9d2cf672fb │ Tamo             │        24079 │ Piešimas                          │ Drawing                               │
│ a58a6c4e26d54f6 │ Tamo             │         4505 │ Užsienio kalba (antroji, ...)     │ Foreign language (second, ...)        │
│ 376ae967fae2520 │ NASC             │        24020 │ Instrumentuotė                    │ Instrumentation                       │
│ d9797b6c5143771 │ NASC             │        24007 │ Choro partitūrų skaitymas         │ Choir score reading                   │
│ fd760cf127a6ded │ NASC             │        20120 │ Atlikėjo raiška (mušamieji)       │ Performer's expression (percussion)   │
│ a0bcefdb4f99010 │ Tamo             │         4301 │ Lotynų kalba ir Antikos kultūra   │ Latin language and Antiquity culture  │
│ 7e498128e2b0a33 │ Tamo             │         4103 │ Gimtoji kalba (lenkų)             │ Native language (Polish)              │
│ 3fa8ab88233c38e │ Tamo             │        20180 │ Atlikėjo raiška (muzikos teorija) │ Performer's expression (music theory) │
│ f3bc38e90a2d900 │ NASC             │         8402 │ Gamtos mokslai                    │ Natural sciences                      │
│ b1f45e93bed5800 │ NASC             │        11104 │ Fizinis ugdymas                   │ Physical education                    │
├─────────────────┴──────────────────┴──────────────┴───────────────────────────────────┴───────────────────────────────────────┤
│ 10 rows                                                                                                             5 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

This table should be unique by `electronic_diary` and `subject_code`, let's check.

In [ ]:
duckdb.sql(
    """
    SELECT
        electronic_diary,
        subject_code,
        COUNT(*)
    FROM 'attendance/subject.parquet'
    GROUP BY all
    HAVING COUNT(*) > 1
"""
).show()

┌──────────────────┬──────────────┬──────────────┐
│ electronic_diary │ subject_code │ count_star() │
│     varchar      │    int64     │    int64     │
├──────────────────┴──────────────┴──────────────┤
│                     0 rows                     │
└────────────────────────────────────────────────┘

In [ ]:
# Final query for the subject table
subject = """
    SELECT
        electronic_diary,
        subject_code,
        subject_name_en,
    FROM 'attendance/subject.parquet'
"""

yay!

## attendance

In [ ]:
duckdb.sql(
    "SELECT * FROM 'attendance/attendance.parquet' ORDER BY random() LIMIT 10"
).show()

┌─────────────────┬───────────────┬─────────────┬───────────────┬───────────────┬──────────────┬──────────────────┬───────────────────┬─────────────────────┬─────────────────────────┬───────────────────────┬───────────────────┐
│    unique_id    │ report_period │ school_code │ division_code │ student_class │ subject_code │ electronic_diary │ student_count_nsa │ student_count_diary │ excused_lessons_illness │ excused_lessons_other │ unexcused_lessons │
│     varchar     │     date      │    int64    │    varchar    │     int64     │    int64     │     varchar      │       int64       │        int64        │          int64          │         int64         │       int64       │
├─────────────────┼───────────────┼─────────────┼───────────────┼───────────────┼──────────────┼──────────────────┼───────────────────┼─────────────────────┼─────────────────────────┼───────────────────────┼───────────────────┤
│ 7dfe3db2bf81944 │ 2013-09-01    │   190134683 │ NULL          │             9 │         5701 │ NASC             │               194 │                 193 │                       8 │                    25 │                 0 │
│ 9b9fb2acbb92bca │ 2021-06-01    │   290595560 │ NULL          │             7 │        11101 │ Tamo             │                10 │                   7 │                       0 │                     0 │                 0 │
│ 0df637622ebe567 │ 2015-03-01    │   290615290 │ NULL          │             8 │         9102 │ NASC             │                62 │                  85 │                       3 │                    18 │                 0 │
│ f4b0986a9201f0d │ 2015-03-01    │   191316920 │ NULL          │             9 │         5101 │ NASC             │                43 │                  43 │                       3 │                     4 │                 0 │
│ 5cbb4bc9336b2ff │ 2018-04-01    │   191416511 │ NULL          │             8 │         4401 │ NASC             │                 8 │                   8 │                       1 │                     0 │                 0 │
│ f465099ace10f40 │ 2022-06-01    │   190545880 │ NULL          │             2 │         4001 │ Tamo             │                57 │                   9 │                      23 │                     0 │                 0 │
│ 590a3338e69a2db │ 2017-06-01    │   190486624 │ NULL          │             7 │        12001 │ NASC             │                15 │                  15 │                       0 │                     0 │                 0 │
│ 9825a963b5bbf4e │ 2021-09-01    │   190672739 │ NULL          │             9 │        10100 │ NASC             │                14 │                  14 │                       0 │                     0 │                 0 │
│ 97ce556f42acd90 │ 2025-01-01    │   190661671 │ NULL          │             7 │         9102 │ Tamo             │                78 │                  78 │                      14 │                     1 │                11 │
│ 1d6d26d5f56d706 │ 2017-10-01    │   190109096 │ NULL          │             9 │         5301 │ NASC             │                 7 │                   7 │                       6 │                     0 │                 0 │
├─────────────────┴───────────────┴─────────────┴───────────────┴───────────────┴──────────────┴──────────────────┴───────────────────┴─────────────────────┴─────────────────────────┴───────────────────────┴───────────────────┤
│ 10 rows                                                                                                                                                                                                              12 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

- The rows in this table should be unique by `report_period`, `school_code`, `student_class` and `subject_code`. I should add `division_code` to this list, but I've already decided to not use that column. `electronic_diary` is not in this list because, if I remember correctly, each school uses just one of the diaries.
- `school_code` is the foreign key from the school table, while `subject_code` and `electronic_diary` are foreign keys, therefore I expect them to not have any NULL values.

Let's verify.

In [ ]:
duckdb.sql(
    """
    SELECT 
        report_period,
        school_code,
        student_class,
        subject_code,
        COUNT(*)
    FROM 'attendance/attendance.parquet'
    WHERE division_code IS NULL
    GROUP BY all
    HAVING COUNT(*) > 1
"""
).show()

┌───────────────┬─────────────┬───────────────┬──────────────┬──────────────┐
│ report_period │ school_code │ student_class │ subject_code │ count_star() │
│     date      │    int64    │     int64     │    int64     │    int64     │
├───────────────┼─────────────┼───────────────┼──────────────┼──────────────┤
│ 2024-04-01    │   191024624 │            10 │         6001 │            2 │
│ 2024-12-01    │   191024624 │            10 │         5301 │            2 │
│ 2024-05-01    │   190193030 │             9 │         8101 │            2 │
│ 2020-03-01    │   190046347 │            10 │         8101 │            2 │
│ 2024-04-01    │   300594972 │            11 │         4001 │            2 │
│ 2020-03-01    │   191316354 │             8 │         9101 │            2 │
│ 2024-02-01    │   190139463 │            10 │         5301 │            2 │
│ 2024-03-01    │   190189676 │            11 │         5301 │            2 │
│ 2019-10-01    │   190438615 │             5 │            1 │            2 │
│ 2024-06-01    │   190533045 │             8 │         3001 │            2 │
│     ·         │       ·     │             · │           ·  │            · │
│     ·         │       ·     │             · │           ·  │            · │
│     ·         │       ·     │             · │           ·  │            · │
│ 2023-11-01    │   190160653 │             8 │         4001 │            2 │
│ 2024-09-01    │   190486624 │             6 │         6001 │            2 │
│ 2023-12-01    │   190004615 │             8 │         6001 │            2 │
│ 2024-06-01    │   191824413 │             7 │         4401 │            2 │
│ 2024-12-01    │   290983050 │            10 │         9102 │            2 │
│ 2024-01-01    │   190379088 │             5 │         8402 │            2 │
│ 2024-04-01    │   190176458 │             7 │         4001 │            2 │
│ 2025-01-01    │   190002411 │             9 │         5301 │            2 │
│ 2024-09-01    │   190438049 │            12 │         6001 │            2 │
│ 2019-10-01    │   191316354 │             8 │         9102 │            2 │
├───────────────┴─────────────┴───────────────┴──────────────┴──────────────┤
│ ? rows (>9999 rows, 20 shown)                                   5 columns │
└───────────────────────────────────────────────────────────────────────────┘

We have duplicates in the dataset again. But how many duplicates?

In [ ]:
duckdb.sql(
    """
    SELECT 
        report_period,
        school_code,
        student_class,
        subject_code,
        COUNT(*)
    FROM 'attendance/attendance.parquet'
    WHERE division_code IS NULL
    GROUP BY all
    HAVING COUNT(*) > 1
    ORDER BY random()
"""
).df().shape

(18776, 5)

Quite a few duplicated rows. 

Maybe I should have also included `electronic_diary` among the columns by which the attendance table is unique? This is weird, because why would a single class in a single school use two diaries? But weird things happen.

In [ ]:
duckdb.sql(
    """
    SELECT 
        report_period,
        school_code,
        division_code,
        student_class,
        subject_code,
        electronic_diary,
        COUNT(*)
    FROM 'attendance/attendance.parquet'
    WHERE division_code IS NULL
    GROUP BY all
    HAVING COUNT(*) > 1
    ORDER BY random()
"""
).df().shape

(12668, 7)

Ok, even grouping by `electronic_diary`, we have duplicates in the dataset. Let's look at several duplicated rows again.

In [ ]:
duckdb.sql(
    """
    SELECT 
        report_period,
        school_code,
        division_code,
        student_class,
        subject_code,
        electronic_diary,
        COUNT(*)
    FROM 'attendance/attendance.parquet'
    WHERE division_code IS NULL
    GROUP BY all
    HAVING COUNT(*) > 1
    ORDER BY random()
    LIMIT 5
"""
).show()

┌───────────────┬─────────────┬───────────────┬───────────────┬──────────────┬──────────────────┬──────────────┐
│ report_period │ school_code │ division_code │ student_class │ subject_code │ electronic_diary │ count_star() │
│     date      │    int64    │    varchar    │     int64     │    int64     │     varchar      │    int64     │
├───────────────┼─────────────┼───────────────┼───────────────┼──────────────┼──────────────────┼──────────────┤
│ 2024-01-01    │   190139278 │ NULL          │             8 │         8101 │ NASC             │            2 │
│ 2024-06-01    │   190244044 │ NULL          │            11 │         9102 │ NASC             │            2 │
│ 2024-05-01    │   190672543 │ NULL          │             7 │         8301 │ NASC             │            2 │
│ 2024-03-01    │   190533045 │ NULL          │             8 │         6001 │ NASC             │            2 │
│ 2024-11-01    │   190004615 │ NULL          │             6 │         3001 │ NASC             │            2 │
└───────────────┴─────────────┴───────────────┴───────────────┴──────────────┴──────────────────┴──────────────┘

In [ ]:
# Here I'm taking the first row from above and inserting the required values
duckdb.sql(
    """
    SELECT
        *
    FROM 'attendance/attendance.parquet'
    WHERE division_code IS NULL
    AND school_code = 290984490
    AND student_class = 1
    AND subject_code = 9101
    ORDER BY report_period
"""
)

┌─────────────────┬───────────────┬─────────────┬───────────────┬───────────────┬──────────────┬──────────────────┬───────────────────┬─────────────────────┬─────────────────────────┬───────────────────────┬───────────────────┐
│    unique_id    │ report_period │ school_code │ division_code │ student_class │ subject_code │ electronic_diary │ student_count_nsa │ student_count_diary │ excused_lessons_illness │ excused_lessons_other │ unexcused_lessons │
│     varchar     │     date      │    int64    │    varchar    │     int64     │    int64     │     varchar      │       int64       │        int64        │          int64          │         int64         │       int64       │
├─────────────────┼───────────────┼─────────────┼───────────────┼───────────────┼──────────────┼──────────────────┼───────────────────┼─────────────────────┼─────────────────────────┼───────────────────────┼───────────────────┤
│ 047c0a11c721ffe │ 2015-11-01    │   290984490 │ NULL          │             1 │         9101 │ NASC             │                 5 │                   4 │                       3 │                     0 │                 0 │
│ 3302d5804c84a6f │ 2015-12-01    │   290984490 │ NULL          │             1 │         9101 │ NASC             │                 5 │                   2 │                       0 │                     1 │                 0 │
│ 4222e230eb28caf │ 2016-02-01    │   290984490 │ NULL          │             1 │         9101 │ NASC             │                 5 │                   3 │                       4 │                     2 │                 0 │
│ 391defb92e89285 │ 2016-03-01    │   290984490 │ NULL          │             1 │         9101 │ NASC             │                 5 │                   3 │                       0 │                     2 │                 0 │
│ e658ad4ab0393fb │ 2017-01-01    │   290984490 │ NULL          │             1 │         9101 │ NASC             │                 3 │                   2 │                       0 │                     0 │                 0 │
│ d615d82959f5e93 │ 2017-05-01    │   290984490 │ NULL          │             1 │         9101 │ NASC             │                 3 │                   2 │                       0 │                     0 │                 0 │
│ ffd8e48584e3896 │ 2017-10-01    │   290984490 │ NULL          │             1 │         9101 │ NASC             │                 7 │                   2 │                       1 │                     0 │                 0 │
│ 904628eb64cd323 │ 2017-11-01    │   290984490 │ NULL          │             1 │         9101 │ NASC             │                 8 │                   8 │                       2 │                     0 │                 0 │
│ d78d3dd9cd7f28f │ 2018-01-01    │   290984490 │ NULL          │             1 │         9101 │ NASC             │                 8 │                  11 │                       1 │                     1 │                 0 │
│ bcc4318462c5595 │ 2018-03-01    │   290984490 │ NULL          │             1 │         9101 │ NASC             │                 8 │                   9 │                       3 │                     0 │                 0 │
│        ·        │     ·         │       ·     │  ·            │             · │           ·  │  ·               │                 · │                   · │                       · │                     · │                 · │
│        ·        │     ·         │       ·     │  ·            │             · │           ·  │  ·               │                 · │                   · │                       · │                     · │                 · │
│        ·        │     ·         │       ·     │  ·            │             · │           ·  │  ·               │                 · │                   · │                       · │                     · │                 · │
│ 914c71d8f68c130 │ 2023-11-01    │   290984490 │ NULL          │             1 │         9101 │ NASC             │                 5 │                   4 │                       4 │                     0 │                 0 │
│ a163580f3da5523 │ 2023-11-01    │   290984490 │ NULL          │             1 │         9101 │ NASC             │                 5 │                   4 │                       4 │                     0 │                 0 │
│ 841eee08ec7ff1c │ 2023-12-01    │   290984490 │ NULL          │             1 │         9101 │ NASC             │                 5 │                   4 │                       4 │                     0 │                 0 │
│ 8aa2cd9e603ee05 │ 2024-01-01    │   290984490 │ NULL          │             1 │         9101 │ NASC             │                 6 │                   6 │                       4 │                     0 │                 0 │
│ 651f44df7b1398e │ 2024-04-01    │   290984490 │ NULL          │             1 │         9101 │ NASC             │                 6 │                   3 │                       1 │                     0 │                 0 │
│ d880c0e26d35d0c │ 2024-04-01    │   290984490 │ NULL          │             1 │         9101 │ NASC             │                 6 │                   3 │                       2 │                     0 │                 0 │
│ 87a7f88e0752409 │ 2024-05-01    │   290984490 │ NULL          │             1 │         9101 │ NASC             │                 6 │                   4 │                       1 │                     0 │                 0 │
│ e00f8cabcbb0433 │ 2024-05-01    │   290984490 │ NULL          │             1 │         9101 │ NASC             │                 6 │                   4 │                       2 │                     0 │                 0 │
│ 61b4fec90d169da │ 2024-06-01    │   290984490 │ NULL          │             1 │         9101 │ NASC             │                 6 │                   6 │                       4 │                     0 │                 0 │
│ e518642fdd3cac5 │ 2024-06-01    │   290984490 │ NULL          │             1 │         9101 │ NASC             │                 6 │                   6 │                       2 │                     0 │                 0 │
├─────────────────┴───────────────┴─────────────┴───────────────┴───────────────┴──────────────┴──────────────────┴───────────────────┴─────────────────────┴─────────────────────────┴───────────────────────┴───────────────────┤
│ 36 rows (20 shown)                                                                                                                                                                                                   12 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

It seems that in this case we just have duplicated rows. Here's what I'm noticing:
- for the duplicated rows, values in columns `student_count_diary` and `student_count_nsa` are the same.
- Values for the other columns (`excused_lessons_illness` etc.) are usually different. 

To solve the problem of duplicates in this table, I'll just aggregated by the columns that

In [ ]:
attendance = """
    SELECT
        report_period,
        school_code,
        student_class,
        subject_code,
        electronic_diary,
        FIRST(student_count_diary) student_count_diary,
        SUM(excused_lessons_illness) excused_lessons_illness,
        SUM(excused_lessons_other) excused_lessons_other,
        SUM(unexcused_lessons) unexcused_lessons
    FROM 'attendance/attendance.parquet'
    WHERE division_code IS NULL
    GROUP BY all
"""
duckdb.sql(attendance + " LIMIT 10").show()

┌───────────────┬─────────────┬───────────────┬──────────────┬──────────────────┬─────────────────────┬─────────────────────────┬───────────────────────┬───────────────────┐
│ report_period │ school_code │ student_class │ subject_code │ electronic_diary │ student_count_diary │ excused_lessons_illness │ excused_lessons_other │ unexcused_lessons │
│     date      │    int64    │     int64     │    int64     │     varchar      │        int64        │         int128          │        int128         │      int128       │
├───────────────┼─────────────┼───────────────┼──────────────┼──────────────────┼─────────────────────┼─────────────────────────┼───────────────────────┼───────────────────┤
│ 2018-11-01    │   190007344 │             9 │         8101 │ NASC             │                  25 │                      13 │                     6 │                 0 │
│ 2016-04-01    │   191017430 │             5 │            1 │ NASC             │                  13 │                       0 │                     1 │                 0 │
│ 2018-02-01    │   190581816 │             8 │         4001 │ NASC             │                  12 │                      13 │                     0 │                 0 │
│ 2021-03-01    │   191090841 │             6 │         4403 │ NASC             │                  33 │                       0 │                     0 │                 0 │
│ 2022-09-01    │   190714921 │             3 │         5103 │ Tamo             │                   4 │                       1 │                     2 │                 0 │
│ 2020-06-01    │   303382953 │             6 │         5301 │ Tamo             │                  86 │                       0 │                     0 │                 0 │
│ 2021-12-01    │   190400881 │             5 │        10100 │ NASC             │                  17 │                       7 │                     3 │                 0 │
│ 2022-09-01    │   191316692 │             6 │        11104 │ Tamo             │                  61 │                      28 │                     3 │                 2 │
│ 2021-05-01    │   190439140 │             8 │         9101 │ NASC             │                 139 │                       0 │                     4 │                 0 │
│ 2017-01-01    │   291814110 │            10 │         3001 │ NASC             │                  68 │                       0 │                     0 │                 0 │
├───────────────┴─────────────┴───────────────┴──────────────┴──────────────────┴─────────────────────┴─────────────────────────┴───────────────────────┴───────────────────┤
│ 10 rows                                                                                                                                                         9 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

I now have a dataset that I am sure is unique by `report_period`, `school_code`, `student_class` and `subject_code`, `electronic_diary` because that's how GROUP BY works.

In [ ]:
duckdb.sql(
    "SELECT * FROM 'attendance/attendance.parquet'"
    "WHERE report_period = '2019-01-01'"
    "AND school_code = 190001124"
    "AND student_class = 12"
).show()

┌─────────────────┬───────────────┬─────────────┬───────────────┬───────────────┬──────────────┬──────────────────┬───────────────────┬─────────────────────┬─────────────────────────┬───────────────────────┬───────────────────┐
│    unique_id    │ report_period │ school_code │ division_code │ student_class │ subject_code │ electronic_diary │ student_count_nsa │ student_count_diary │ excused_lessons_illness │ excused_lessons_other │ unexcused_lessons │
│     varchar     │     date      │    int64    │    varchar    │     int64     │    int64     │     varchar      │       int64       │        int64        │          int64          │         int64         │       int64       │
├─────────────────┼───────────────┼─────────────┼───────────────┼───────────────┼──────────────┼──────────────────┼───────────────────┼─────────────────────┼─────────────────────────┼───────────────────────┼───────────────────┤
│ 090e52480e60f23 │ 2019-01-01    │   190001124 │ NULL          │            12 │         9105 │ Tamo             │               152 │                 152 │                      18 │                     4 │                 4 │
│ 1aad33307f9e38d │ 2019-01-01    │   190001124 │ NULL          │            12 │         4001 │ Tamo             │               152 │                 152 │                     324 │                    67 │               206 │
│ 1f07da06f4a2fe0 │ 2019-01-01    │   190001124 │ NULL          │            12 │         8101 │ Tamo             │               152 │                 152 │                      81 │                    13 │                46 │
│ 222ff16bc9aba9f │ 2019-01-01    │   190001124 │ NULL          │            12 │         4403 │ Tamo             │               152 │                 152 │                      34 │                    27 │                19 │
│ 3726dbf8b6a9fc9 │ 2019-01-01    │   190001124 │ NULL          │            12 │         9104 │ Tamo             │               152 │                 152 │                       9 │                     0 │                17 │
│ 472c6d02789e9b2 │ 2019-01-01    │   190001124 │ NULL          │            12 │         7101 │ Tamo             │               152 │                 152 │                      45 │                    11 │                37 │
│ 4cee852028a9f01 │ 2019-01-01    │   190001124 │ NULL          │            12 │         6001 │ Tamo             │               152 │                 152 │                     231 │                    40 │               118 │
│ 51be2284a885b1d │ 2019-01-01    │   190001124 │ NULL          │            12 │         9103 │ Tamo             │               152 │                 152 │                       6 │                     4 │                 2 │
│ 55b253c71b7fddf │ 2019-01-01    │   190001124 │ NULL          │            12 │        14002 │ Tamo             │               152 │                 152 │                      25 │                     3 │                36 │
│ 5dfe05acf731dc2 │ 2019-01-01    │   190001124 │ NULL          │            12 │         9102 │ Tamo             │               152 │                 152 │                      39 │                     4 │                12 │
│ 66e8d5c6c3276ce │ 2019-01-01    │   190001124 │ NULL          │            12 │         4401 │ Tamo             │               152 │                 152 │                     241 │                    39 │               168 │
│ 9d27ade0c64e9ee │ 2019-01-01    │   190001124 │ NULL          │            12 │         9101 │ Tamo             │               152 │                 152 │                       0 │                     0 │                 0 │
│ 9fe429219049dba │ 2019-01-01    │   190001124 │ NULL          │            12 │         5101 │ Tamo             │               152 │                 152 │                     133 │                    18 │                97 │
│ a539434826efe6c │ 2019-01-01    │   190001124 │ NULL          │            12 │         4404 │ Tamo             │               152 │                 152 │                      18 │                     7 │                24 │
│ a5f2cce81ce60ae │ 2019-01-01    │   190001124 │ NULL          │            12 │         5403 │ Tamo             │               152 │                 152 │                      18 │                     4 │                20 │
│ a7b930f880328bc │ 2019-01-01    │   190001124 │ NULL          │            12 │         5301 │ Tamo             │               152 │                 152 │                      42 │                    24 │                36 │
│ aa97e06e337d72c │ 2019-01-01    │   190001124 │ NULL          │            12 │        11101 │ Tamo             │               152 │                 152 │                      98 │                    22 │                95 │
│ d42327b6f256b40 │ 2019-01-01    │   190001124 │ NULL          │            12 │        10113 │ Tamo             │               152 │                 152 │                      20 │                     6 │                 4 │
│ e34f541576a5aec │ 2019-01-01    │   190001124 │ NULL          │            12 │         8201 │ Tamo             │               152 │                 152 │                      45 │                    13 │                25 │
│ f2d16724384a319 │ 2019-01-01    │   190001124 │ NULL          │            12 │         4402 │ Tamo             │               152 │                 152 │                       1 │                     0 │                 4 │
│ fa40952c723a669 │ 2019-01-01    │   190001124 │ NULL          │            12 │         8301 │ Tamo             │               152 │                 152 │                      42 │                    15 │                29 │
│ fee7d6953991f3d │ 2019-01-01    │   190001124 │ NULL          │            12 │        16001 │ Tamo             │               152 │                 152 │                      15 │                     0 │                14 │
├─────────────────┴───────────────┴─────────────┴───────────────┴───────────────┴──────────────┴──────────────────┴───────────────────┴─────────────────────┴─────────────────────────┴───────────────────────┴───────────────────┤
│ 22 rows                                                                                                                                                                                                              12 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

## final query

Ok, I think I'm ready to work on the final dataset now, so let's join everything together. I saved my queries into Python variables for a reason - now combining them is very easy. 

Keep in mind, that below I'm only using the WITH statement and inserting the tables separately because to all of them except the `subject` table I had to apply some sort of deduplication or grouping - logic that I now want to end up in the final query as well.

Also note that we're using GROUP BY to get rid of the `electronic_diary` column. There are some rows that have the same `school`, `subject`, `period` and `student_class`, but different `electronic_diary` values. I'm not sure what explains this, maybe it's schools transitioning from one diary to another. For my analysis, however, having the `electronic_diary` column is not important, therefore let's get rid of it.

Also note how big the final query is - that's a lot of logic! It would have been very tricky to such a query from the get go. That's why we went through this iterative process in the seminar.

In [5]:
attendance = """
    SELECT
        report_period,
        school_code,
        student_class,
        subject_code,
        electronic_diary,
        FIRST(student_count_diary) student_count_diary,
        SUM(excused_lessons_illness) excused_lessons_illness,
        SUM(excused_lessons_other) excused_lessons_other,
        SUM(unexcused_lessons) unexcused_lessons
    FROM 'attendance/attendance.parquet'
    WHERE division_code IS NULL
    GROUP BY all
"""

subject = """
    SELECT
        electronic_diary,
        subject_code,
        subject_name_en,
    FROM 'attendance/subject.parquet'
"""

school = """
    SELECT 
        school_code, 
        school_name, 
        municipality_name
    FROM 'attendance/school.parquet' 
    WHERE division_code IS NULL
"""


query = f"""
WITH attendance AS ({attendance}),
    school AS ({school}),
    subject AS ({subject})
SELECT
    school.school_name,
    school.school_code,
    school.municipality_name,
    attendance.student_class,
    attendance.report_period,
    subject.subject_name_en,
    FIRST(attendance.student_count_diary) AS student_count,
    SUM(attendance.excused_lessons_illness) AS excused_lessons_illness,
    SUM(attendance.excused_lessons_other) AS excused_lessons_other,
    SUM(attendance.unexcused_lessons) AS unexcused_lessons
FROM attendance
JOIN school ON attendance.school_code = school.school_code
JOIN subject ON attendance.subject_code = subject.subject_code
    AND attendance.electronic_diary = subject.electronic_diary
GROUP BY all
"""
print(query)

WITH attendance AS (
    SELECT
        report_period,
        school_code,
        student_class,
        subject_code,
        electronic_diary,
        FIRST(student_count_diary) student_count_diary,
        SUM(excused_lessons_illness) excused_lessons_illness,
        SUM(excused_lessons_other) excused_lessons_other,
        SUM(unexcused_lessons) unexcused_lessons
    FROM 'attendance/attendance.parquet'
    WHERE division_code IS NULL
    GROUP BY all
),
    school AS (
    SELECT
        school_code,
        school_name,
        municipality_name
    FROM 'attendance/school.parquet'
    WHERE division_code IS NULL
),
    subject AS (
    SELECT
        electronic_diary,
        subject_code,
        subject_name_en,
    FROM 'attendance/subject.parquet'
)
SELECT
    school.school_name,
    school.school_code,
    school.municipality_name,
    attendance.student_class,
    attendance.report_period,
    subject.subject_name_en,
    FIRST(attendance.student_count_diary) AS student_count,
    SUM(attendance.excused_lessons_illness) AS excused_lessons_illness,
    SUM(attendance.excused_lessons_other) AS excused_lessons_other,
    SUM(attendance.unexcused_lessons) AS unexcused_lessons
FROM attendance
JOIN school ON attendance.school_code = school.school_code
JOIN subject ON attendance.subject_code = subject.subject_code
    AND attendance.electronic_diary = subject.electronic_diary
GROUP BY all

In [6]:
duckdb.sql(query).df()

,school_name,school_code,municipality_name,student_class,report_period,subject_name_en,student_count,excused_lessons_illness,excused_lessons_other,unexcused_lessons
0,Kauno „Aušros“ gimnazija,190133777,Kauno m. sav.,11,2022-01-01,History,129,149.0,18.0,4.0
1,Elektrėnų sav. Semeliškių gimnazija,190664977,Elektrėnų sav.,10,2019-10-01,Biology,18,8.0,0.0,0.0
2,Kauno Simono Daukanto progimnazija,190136734,Kauno m. sav.,7,2021-04-01,Music,140,12.0,22.0,1.0
3,Kauno „Vyturio“ gimnazija,190136887,Kauno m. sav.,6,2022-04-01,Subject module,94,31.0,8.0,0.0
4,Ukmergės r. Deltuvos pagrindinė mokykla,190343829,Ukmergės r. sav.,8,2018-09-01,Fine arts,7,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
4912871,Klaipėdos licėjus,191832328,Klaipėdos m. sav.,7,2024-02-01,Geography,90,26.0,17.0,0.0
4912872,Visagino „Žiburio“ pagrindinė mokykla,193170510,Visagino sav.,7,2021-09-01,Ethical education (ethics),30,1.0,0.0,0.0
4912873,Kelmės r. Pakražančio gimnazija,190093788,Kelmės r. sav.,5,2023-09-01,Technologies,7,2.0,0.0,0.0
4912874,Kauno Senamiesčio progimnazija,191816085,Kauno m. sav.,4,2024-09-01,"Foreign language (first, English)",33,58.0,0.0,0.0
4912875,Visagino „Žiburio“ pagrindinė mokykla,193170510,Visagino sav.,2,2018-11-01,World studies,10,9.0,0.0,0.0